<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style type="text/css">
      .grid {
        margin: auto;
        width: 530px;
        text-align: center;
      }

      .grid table {
        border-top: 1px solid #c2d89a;
        width: 100%;
        border-collapse: collapse;
      }

      .grid th,
      td {
        padding: 10;
        border: 1px dashed #f3dcab;
        height: 35px;
        line-height: 35px;
      }

      .grid th {
        background-color: #f3dcab;
      }

      .grid .book {
        padding-bottom: 10px;
        padding-top: 5px;
        background-color: #f3dcab;
      }

      .grid .total {
        height: 30px;
        line-height: 30px;
        background-color: #f3dcab;
        border-top: 1px solid #c2d89a;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="grid">
        <div>
          <h1>图书管理</h1>
          <div class="book">
            <div>
              <label for="id"> 编号： </label>
              <input type="text" id="id" v-model="id" disabled />
              <label for="name"> 名称： </label>
              <input
                type="text"
                id="name"
                autocomplete="off"
                v-model="name"
                v-focus
              />
              <button @click="handler" :disabled="isSubmit">提交</button>
            </div>
          </div>
        </div>
        <div class="total">
          <span>图书总数：</span><span>{{books.length}}</span>计算属性:
          {{count}}
        </div>
        <table>
          <thead>
            <tr>
              <th>编号</th>
              <th>名称</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in books" :key="item.id">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date | dateformat('yyyy-MM-DD hh:mm:ss')}}</td>
              <td>
                <a href="#" @click.prevent="toEdit(item.id)">修改</a> |
                <a href="#" @click.prevent="delbook(item.id)">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      axios.defaults.baseURL = "http://localhost:3000/";
      axios.interceptors.response.use(
        function (res) {
          return res.data;
        },
        function (error) {
          console.log(error);
        }
      );

      // 自定义指令 获取焦点
      Vue.directive("focus", {
        inserted(el) {
          el.focus();
        },
      });
      // 时间过滤器
      Vue.filter("dateformat", function (val, param) {
        // console.log(val); val参数1是要过滤的数据  参数2param是用户传递的参数
        const date = new Date(val);
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = date.getDate();
        const h = date.getHours();
        const m = date.getMinutes();
        const s = date.getSeconds();
        // console.log(day);
        if (param == "yyyy") {
          return `${year}`;
        } else if (param == "yyyy-MM-DD") {
          return `${year}-${month}-${day}`;
        } else if (param == "yyyy-MM-DD hh:mm:ss") {
          return `${year}-${month}-${day} ${h}:${m}:${s}`;
        }
      });
      new Vue({
        el: "#app",
        data: {
          //id
          id: "",
          // 图书的name
          name: "",
          //   控制提交按钮的开关
          isSubmit: false,
          //   设置添加或编辑的开关
          isEdit: false,
          books: [],
        },
        // 计算属性
        computed: {
          count() {
            return this.books.length;
          },
        },
        // 侦听器
        watch: {
          name: async function (val) {
            // 验证图书名称是否已经存在
            // var flag = this.books.some(function(item){
            //   return item.name == val;
            // });
            var res = await axios.get("/books/book/" + this.name);
            if (res.status == 1) {
              // 图书名称存在
              this.isSubmit = true;
            } else {
              // 图书名称不存在
              this.isSubmit = false;
            }
            console.log(1111);
          },
        },
        // 钩子函数
        created: async function () {
          // 发送请求 获取到数组数据
          // this.books = await axios.get("books");
          this.getBooks();
        },
        methods: {
          // 添加图书方法
          async getBooks() {
            this.books = await axios.get("books");
          },
          async handler() {
            //   非空校验
            if (!this.name) return;
            // 添加的业务逻辑
            if (this.isEdit == false) {
              const res = await axios.post("books", { name: this.name });
              if (res.status == 200) {
                this.getBooks();
              }
            } else {
              // 修改的业务逻辑  id
              // 当我们点击修改按钮之后,data中id和name已经赋值了
              //   console.log(this.id);
              //   console.log(this.name);
              //   修改结束之后将开关设置为 false
              const res = await axios.put("books/" + this.id, {
                name: this.name,
              });
              if (res.status == 200) {
                this.getBooks();
              }
              this.isEdit = false;
            }
            // 提交完毕将表单情空
            this.id = this.name = "";
          },
          //   删除图书的方法
          async delbook(id) {
            // 将删除图书的id接收  数组的截取 或者 数组的过滤
            console.log(id);
            // 方式一: 找到索引截取数组元素
            // 拿着id找到对应删除元素的索引, findIndex 返回要找的数组元素的索引值

            //  调用截取数组的方法
            // this.books.splice(index, 1);
            // 方式二: 数组的过滤 filter
            const res = await axios.delete("books/" + id);
            if (res.status == 200) {
              this.getBooks();
            }
          },
          //   修改图书
          async toEdit(id) {
            // 点击修改按钮 将isEdit 设置为true
            this.isEdit = true;
            // 接收到用户传递的id,数组中找到id一样的元素,将id值和name值渲染在页面上
            // const i = this.books.findIndex((item) => item.id == id);
            // console.log(this.books[i]);
            // this.id = this.books[i].id;
            // this.name = this.books[i].name;
            const res = await axios.get("books/" + id);
            this.id = res.id;
            this.name = res.name;
          },
        },
      });
    </script>
  </body>
</html>
